<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:annotation-config/>

    <bean class="GPU">
        <qualifier value="Nvidia"/>
        <constructor-arg name="name" value="RTX 2070"/>
        <constructor-arg name="memory" value="8"/>
    </bean>
    <bean class="GPU">
        <qualifier value="Radeon"/>
        <constructor-arg name="name" value="Radeon Pro 560X"/>
        <constructor-arg name="memory" value="4"/>
    </bean>
    <bean class="Battery">
        <qualifier value="decent"/>
        <constructor-arg name="wH" value="80.0"/>
    </bean>
    <bean class="Battery">
        <qualifier value="large"/>
        <constructor-arg name="wH" value="83.6"/>
    </bean>
    <bean class="Display">
        <qualifier value="retina"/>
        <constructor-arg name="name" value="retina display"/>
        <constructor-arg name="resolution" value="2880x1800"/>
    </bean>
    <bean class="Display">
        <qualifier value="4k"/>
        <constructor-arg name="name" value="4k display"/>
        <constructor-arg name="resolution" value="3840x2160"/>
    </bean>
    <bean id="blade" class="Razer">
        <constructor-arg name="name" value="Razer Blade"/>
    </bean>
    <bean id="pro" class="MacBook">
        <constructor-arg name="name" value="MacBook Pro"/>
    </bean>
</beans>